<!-- <mat-toolbar class="secondary" color="primary">
    <div class="marquee-container">
        <div class="marquee">Counselling Community Platform(CCP)</div>
    </div>
    <div class="marquee-container">
        <div class="marquee">Jumuia ya Ushauri</div>
    </div>
    <span class="spacer"></span>

</mat-toolbar> -->
<!-- <div class="social-icons">
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
</div>  -->




