<!-- SignUp Form -->
<div class="container">
  <h2>New User SignUp Form</h2>
  <form>
    <div class="form-group">
      <label for="fullName">Full Name:</label>
      <input type="text" class="form-control" id="fullName" name="fullName" ngModel required>
    </div>
    
    <!-- Email Input -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email"  name="email" ngModel required>
    </div>
    
    <!-- Phone Number Input -->
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" ngModel required>
    </div>
    
    <!-- Preferred Mode Input -->
    <div class="form-group">
      <label for="preferredMode">Preferred mode:</label>
      <input type="text" class="form-control" id="preferredMode" name="preferredMode" ngModel required>
    </div>
    
    <!-- Location Input -->
    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" class="form-control" id="location" name="location" ngModel required>
    </div>
    
    <!-- Age Input -->
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" id="age" name="age" ngModel required>
    </div>
    
    <!-- UserName Input -->
    <div class="form-group">
      <label for="userName">User Name:</label>
      <input type="text" class="form-control" id="userName" name="userName" ngModel required>
    </div>
    
    <!-- Password Input -->
    <div class="form-group">
      <label for="password">Create Password:</label>
      <input type="password" class="form-control" id="password" name="password" ngModel required>
    </div>
    
    <!-- Confirm Password Input -->
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel required>
    </div>
    
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
  </form>
</div>
