<div class="login-container">
  <form #authForm="ngForm" (ngSubmit)="onFormSubmitted(authForm)">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" ngModel required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" ngModel required minlength="8">
    </div>
    <button [disabled]="authForm.invalid" type="submit">Login</button>
    <br><br>
    <label for="signup">
      Don't have an account? <a routerLink="/signup">Register here</a>
    </label>
  </form>
</div>

  
  <!-- background-color: rgb(233, 193, 233); -->