<div class="login-container">
  <form #authForm="ngForm" (ngSubmit)="onFormSubmitted(authForm)">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" ngModel required email>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" ngModel required minlength="8">
    </div>
    <button [disabled]="authForm.invalid" type="submit">{{ isLoggedIn ? 'Logout' : 'Login' }}</button>
    <br><br>
    <label for="signup">
      Don't have an account? <a routerLink="/signup">Register here</a>
    </label>
    <!-- <div *ngIf="isLoggedIn">
      <button (click)="logout()">Logout</button>
    </div> -->
  </form>
</div>
