.coming-soon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
    color: #333;
  }
  
  .coming-soon-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .coming-soon-container p {
    font-size: 1.5rem;
  }
  